node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
public/bundle.js
public/bundle.js.map
secretDom.js
.DS_Store
npm-debug.log
yarn-error.log
secretDom.js
secrets.js
# macOS
.DS_Store
node_modules
